*.un~
*~
*.swp
*.lprof
*.prof
*.pyo
*.pyc
www/cs.html
www/sari.html
www/upload.html
www/uploads
server_old.py
s.py
__pycache__/
_server.py
_test.py
tests/experimental
tests/siege
tests/a.sh
tests/data/
tests/plots/
stats/
